# Arquivos do projeto
chroma_db
world_state.db
user_library.db

# Python
__pycache__/
*.pyc

# Configurações/Secrets
.env
.vscode/

# Dependências (Se não precisar commitar, mas você já está ignorando no arquivo atual)
requirements.txt